<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
        <%= image_tag(@user.picture, align: 'left', class: "fb-image-profile thumbnail")  %>
        <div class="fb-profile-text">
          <h2>
            <% if @user.nickname %>
			<%= @user.nickname %>
           <% else %>
            Your Nickname
           <% end -%>
          </h2>
        </div>
    </div>
<!-- NAILTHUMBS     -->
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div style="padding:10px 30px">
<!-- PASSION  -->
        <div class="">

            <% if @user.passion %>
      <p><%= @user.passion %></p>
           <% else %>
            <h4>Your passion</h4>
           <% end -%>

        </div>
<!-- TRAVELS -->
        <div class="">
          <p>
            <% if @user.travels %>
      <p><%= @user.travels %></p>
           <% else %>
            <h4>Your travels</h4>
           <% end -%>
          </p>
        </div>
<!-- BIO -->
        <div class="">
          <h4>
            <% if @user.bio %>
      <p><%= @user.bio %></p>
           <% else %>
            <h4>Your Bio</h4>
          <% end -%>
          </h4>
        </div>

      		<%= link_to 'Edit your Profile', edit_user_registration_path, class: 'btn btn-primary btn-sm', style: 'font-weight:bold' %>

       </div>
     </div>
   </div>


<!-- TRIBUS -->
    <div>
	    <%= render "language_users/tribes_languages" %>


    </div>
</div>
























