<div class="container">
<div class="col-sm-6 col-md-4">
<div class="well" style="padding:20px">
<h3>Edit your Profile</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<!-- PICTURE -->
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
    <%= f.hidden_field :picture_cache %>
    <%= image_tag(@post.picture, size:"64x64") if @post.picture? %>

  </div>
<!-- NAME -->
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
<!-- PASSWORD NECESARIO -->
  <div class="field">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "off" %><br />
    <i>(we need your current password to confirm your changes)</i><br />
  </div>
<!-- EMAIL -->
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
<!-- EMAIL CONFIRMATION -->
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<!-- CHANGING PASSWORD -->
  <div class="field">
  <h4>Do you want to change your password?</h4>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %><br />s
    <i>(leave blank if you don't want to change it)</i>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h6>Cancel my account</h6>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
</div>
</div>


