<p id="notice"><%= notice %></p>
<div class="container">

  <div class="jumbotron imgfondo2">
      <h1>Spanglish!</h1>
      <p>The best community in Santiago Chile</p>

                    <% if user_signed_in?%>
                <strong>Hello, </strong><%= current_user.nickname %> <strong> ! </strong>
                <% else %>

              <li class="btn btn-primary btn-lg" style="font-weight: bold"><%= link_to "Join us!", new_user_registration_path %></li>

                <% end %>
  </div>

  <div class="row">

      <div class="col-sm-5 col-md-3">
        <div class="thumbnail">
          <a href="<%= events_path %>">
            <%= image_tag 's_1.jpg'%>
          </a>
        </div>
      </div>

      <div class="col-sm-5 col-md-3">
        <div class="thumbnail">
          <a href="<%= events_path %>">
            <%= image_tag 's_2.jpg'%>
          </a>
        </div>
      </div>

      <div class="col-sm-5 col-md-3">
        <div class="thumbnail">
          <a href="<%= events_path %>">
            <%= image_tag 's_3.jpg'%>
          </a>
        </div>
      </div>

      <div class="col-sm-5 col-md-3">
        <div class="thumbnail">
          <a href="<%= events_path %>">
            <%= image_tag 'Accommodation.jpg'%>
          </a>
        </div>
      </div>

  </div>
</div>