   <p id="notice"><%= notice %></p>




   <div class="container">

    <div class="row">
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
      <strong>
      <h3>Events in Santiago</h3>
      </strong>

        <ul class="event-list">
        <% @events.each do |event| %>
          <li>
            <time>
              <span class="day"><%= event.event_date.strftime('%d') %></span>
              <span class="month"><%= event.event_date.strftime('%b') %></span>
            </time>
            <img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />

            <div class="info", style="color: grey">
              <h2 class="title" style="padding-bottom: 5px"><%= event.title %></h2>
              <p class="desc" style="padding-bottom: 5px"><%= truncate(event.description, length: 60) %></p>
              <p class="desc">Address: <%= event.address %></p>
              <ul>
                <li style="width:70%;"><%= event.event_date.strftime('%A') %> <%= event.hour.strftime('%R') %> <span class="glyphicon glyphicon-time"></span></li>
                <!-- <li style="width:10%;"><%= event.visibility %></li> -->
                <li style="width:22%;" class="btn btn-danger" style= "padding-right: 50px"><%= link_to 'Show', event %></li>
                <li style="width:8%;"><span></span></li>
              </ul>
            </div>

            <div class="social">
              <ul>
                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
              </ul>
            </div>
                      <%= link_to 'Edit', edit_event_path(event) %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>

          <%= link_to 'New Event', new_event_path %>
          </li>
          <% end %>


        </ul>
      </div>
    </div>
  </div>
