<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-warning" href="#" role="button">Join us</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <a href="https://www.google.cl/">
        <img src="http://cdn.elciudadano.cl/wp-content/uploads/2015/06/colores-percepcion.jpg" alt="image" class="img-responsive">
      </a>
    </div>
    <div class="col-md-3">
      <a href="https://www.google.cl/">
        <img src="http://cdn.elciudadano.cl/wp-content/uploads/2015/06/colores-percepcion.jpg" alt="image" style="max-width:100%">
      </a>
    </div>
    <div class="col-md-3">
      <a href="https://www.google.cl/">
        <img src="http://cdn.elciudadano.cl/wp-content/uploads/2015/06/colores-percepcion.jpg" alt="image" style="max-width:100%">
      </a>
    </div>
    <div class="col-md-3">
      <a href="https://www.google.cl/">
        <img src="http://cdn.elciudadano.cl/wp-content/uploads/2015/06/colores-percepcion.jpg" alt="image" style="max-width:100%">
      </a>
    </div>
  </div>

</div>










<h1>Listing Countries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.code %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
        <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %>
