<div class="container">
  <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
    <h3>Listing Posts</h3>


    <% @posts.each do |post| %>
    <div>
      <div class="thumbnail" style= "margin-bottom: 2px">
        <strong>Post by:  </strong><%= current_user.email %>
      </div>
      <div class="thumbnail" style= "margin-bottom: 2px">
        <%= post.title %>
      </div>
    </div>

    <div class="thumbnail" style= "margin-bottom: 0px">
      <%= post.content %>
    </div>

    <div style="margin-bottom: 20px">

      <%= link_to 'Show', post %>

      <%= link_to 'Edit', edit_post_path(post) %>


      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>

    </div>
    <div>
      <%= render partial: "comments/comment", collection: @last_comments %>
    </div>
    <% end %>



    <span style="margin-bottom: 20px">
      <% unless current_user.name.nil? %>
      <strong><%= link_to 'New Post', new_post_path %></strong>
      <% else %>
      <button data-toggle="modal" class="btn btn-primary" data-target="#myModal">New Post</button>
      <%= render "shared/modal" %>
      <% end %>
    </span>

  </div>

</div>




