<div class="post">
 <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<div class="well well-lg">
  <strong>Content:</strong>
  <%= @post.content %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>

<%= render partial: "comments/comment", collection: @last_comments %>
<%= render "comments/form" %>

</div>
