<div class="container">
  <div class="row">
    <%= form_for(@language_user) do |f| %>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="container" style="padding:10px 30px">
          <h4>Select your native language</h4>
          <h5>(Fluent)</h5>
          <ul class="list-unstyled  ">
            <% @languages.each do |language| %>
            <li>
              <h5>
               <%= check_box_tag 'language_ids[]', language.id -%>
               <%= h language.name -%>
             </h5>
           </li>
           <% end %>
         </ul>
         <%= f.submit "Submit", class: 'btn btn-primary' %>

       </div>
     </div>
   </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="container" style="padding:10px 30px">


        <h4>Select your Second languages</h4>
        <h5>(Learning or practicing)</h5>
        <ul class="list-unstyled  ">
          <% @languages.each do |language| %>
          <li>
            <h5>
             <%= check_box_tag 'second_language_ids[]', language.id -%>
             <%= h language.name -%>
           </h5>
         </li>
         <% end %>
       </ul>

       <%= f.submit "Submit", class: 'btn btn-primary' %>
       <% end %>
     </div>
   </div>
 </div>
<!-- RENDER -->
<%= render "tribes_languages" %>
</div>
</div>















