<!DOCTYPE html>
<html>
<head>
  <title>Tribesbabel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="">
 


 <section id="container" >

   
 
  

        <%= render "layouts/header" %>

        <%= render "layouts/navbar" %>

 

 <!--main content start-->
        <div class="content-wrapper">
            <div class="container">

                <%= yield %>

            </div>

          </div>
  
        <%= render "layouts/footer" %>
 
    </section>


</body>
</html>
