<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron imgfondo">
      <h1>Spanglish!</h1>
      <p>The best community in Santiago Chile</p>
      <p><a class="btn btn-warning btn-lg" href="#" role="button">Join us!</a></p>
    </div>

    <div class="row">
      <div class="col-sm-5 col-md-3">
        <div class="thumbnail">
          <a href='https://www.facebook.com/groups/Spanglish.II/'>
          <%= image_tag 's_1.jpg'%>
        </a>
          <div class="caption">
            <h3>Language Exchange</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-5 col-md-3">
        <div class="thumbnail">
          <a href='https://www.facebook.com/groups/Spanglish.II/'>
          <%= image_tag 's_2.jpg'%>
        </a>
          <div class="caption">
            <h3>Tours & Trips</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-5 col-md-3">
        <div class="thumbnail">
          <a href='https://www.facebook.com/groups/Spanglish.II/'>
          <%= image_tag 's_3.jpg'%>
        </a>
          <div class="caption">
            <h3>Volunteering</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="row">

      <div class="col-sm-5 col-md-3">
        <div class="thumbnail">
          <a href='https://www.facebook.com/groups/Spanglish.II/'>
          <%= image_tag 's_1.jpg'%>
        </a>
          <div class="caption">
            <h3>Accomodation</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>


    </div>
</div>
